<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RuckZuck_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RuckZuck_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    </configSections>
    <connectionStrings/>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
      <RuckZuck_Tool.Properties.Settings>
        <setting name="UpgradeSettings" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="UpdExlusion" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
          </value>
        </setting>
        <setting name="UserKey" serializeAs="String">
          <value />
        </setting>
        <setting name="UserPW" serializeAs="String">
          <value />
        </setting>
        <setting name="DisableBroadcast" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="CustomerID" serializeAs="String">
          <value />
        </setting>
        <setting name="ShowAbout" serializeAs="String">
          <value>True</value>
        </setting>
      </RuckZuck_Tool.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <RuckZuck_Tool.Properties.Settings>
            <setting name="CM_SQLServer" serializeAs="String">
                <value>sccm01.wp01.lab</value>
            </setting>
            <setting name="CM_SQLServerDBName" serializeAs="String">
                <value>CM_WP1</value>
            </setting>
            <setting name="LimitingUserCollectionID" serializeAs="String">
                <value>SMS00003</value>
            </setting>
            <setting name="UpdateSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CreateDeployments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DPGroup" serializeAs="String">
                <value>All DP's</value>
            </setting>
            <setting name="DefaultADGroup" serializeAs="String">
                <value>%USERDOMAIN%\Domain Users</value>
            </setting>
            <setting name="OSRequirementsX64" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Windows/All_x64_Windows_10_and_higher_Clients</string>
                        <string>Windows/All_x64_Windows_11_and_higher_Clients</string>
                        <string>Windows/All_x64_Windows_Server_2016</string>
                        <string>Windows/All_x64_Windows_Server_2019_and_higher</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OSRequirementsX86" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Windows/All_x86_Windows_7_Client</string>
                        <string>Windows/All_x86_Windows_8.1_Client</string>
                        <string>Windows/All_x86_Windows_10_and_higher_Clients</string>
                        <string>Windows/All_x86_Windows_11_and_higher_Clients</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PrimaryUserRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CM_Server" serializeAs="String">
                <value>sccm01.wp01.lab</value>
            </setting>
            <setting name="CMContentSourceUNC" serializeAs="String">
                <value>\\localhost\admin$\temp</value>
            </setting>
            <setting name="CMSecurityScope" serializeAs="String">
                <value>Workstation Mgmt</value>
            </setting>
            <setting name="UpdateExistingApplications" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CollectionFolder" serializeAs="String">
                <value>RuckZuck</value>
            </setting>
            <setting name="AppFolder" serializeAs="String">
                <value>RuckZuck</value>
            </setting>
            <setting name="DefaultAppLanguage" serializeAs="String">
                <value>EN</value>
            </setting>
            <setting name="CollPrefix_DRI" serializeAs="String">
                <value>DRI_</value>
            </setting>
            <setting name="CollPrefix_URI" serializeAs="String">
                <value>URI_</value>
            </setting>
            <setting name="CollPrefix_UAI" serializeAs="String">
                <value>UAI_</value>
            </setting>
        </RuckZuck_Tool.Properties.Settings>
    </applicationSettings>
</configuration>
