/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 60px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1920px;
}

.page-item.active .page-link {
    background-color: lightgrey !important;
    border: 1px solid black;
}

.page-link {
    color: black !important;
}

.footer {
    height: 50px;
    position: fixed;
    bottom: 0;
    z-index: 1000;
    text-align: left;
    margin-left: 15px;
}

.bold {
    font-weight: bold;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 1400px) {
}
