@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<style>
    html {
        position: relative;
        min-height: 100%;
    }

    .footer {
        position: fixed;
        bottom: -10px;
        width: 100%;
        /* Set the fixed height of the footer here */
        height: 40px;
        /*background-color: #f5f5f5;*/
        text-align: right;
        left: -15px;
        z-index: -1;
    }
</style>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="free open source package manager for windows with public software repository" />
    <meta name="keywords" content="opensource,software,package,application,update,management,deployment,oneget,powershell,commandline" />
    <title>RuckZuck Software Package Manager for Windows</title>
    <link rel="icon" type="image/ico" sizes="16x16" href="~/favicon.ico">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">RuckZuck</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>*@
                    <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Support">Support</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Repository">Repository</a></li>
                    <li><a href="https://github.com/rzander/ruckzuck/wiki" target="_blank">Wiki</a></li>
                    <li><a href="https://github.com/rzander/ruckzuck/issues" target="_blank">Forum</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Sponsors">Sponsors</a></li>
                    <li data-toggle="tooltip" title="Pushbullet feed for new Versions and reported Issues...">
                        <a class="pushbullet-subscribe-widget" data-channel="ruckzuck" data-widget="button" data-size="small"></a>
                        <script type="text/javascript">(function () { var a = document.createElement('script'); a.type = 'text/javascript'; a.async = true; a.src = 'https://widget.pushbullet.com/embed.js'; var b = document.getElementsByTagName('script')[0]; b.parentNode.insertBefore(a, b); })();</script>
                    </li>
                    <li data-toggle="tooltip" title="RSS Feed with all Repository changes...">
                        <a href="/rss.aspx">
                            <span>
                                <img src="/Images/RSS_24.png" alt="RSS" title="RSS" />
                            </span>
                        </a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a asp-area="" asp-controller="Admin" asp-action="Index">Admin</a></li>
                    }
                </ul>
                <partial name="_LoginPartial" />
                @*@Html.Partial("_LoginPartial")*@

            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="footer">
        <div class="col-sm-7" style="text-align:left;display:inline-block">
            <p style="display:inline-block;padding-right:30px;margin-left:10px">Sponsored by:</p>
            <a href="https://www.itnetx.ch" target="_blank"><img alt="itnetX (Switzerland) AG" src="~/images/itnetx_Logo_small.png" height="24" style="display:inline-block;padding-right:30px" /></a>
            <a href="https://www.basevision.ch" target="_blank"><img alt="baseVision AG" src="~/images/baseVISION_small.png" height="24" style="display:inline-block;padding-right:30px" /></a>
            <a href="https://www.romawo.com" target="_blank"><img alt="ROMAWO managed workplace" src="~/images/ROMAWO_Header_oo_small24.png" height="24" style="display:inline-block;padding-right:30px" /></a>
            <a href="https://www.optimio.com" target="_blank"><img alt="optimio AG" src="~/images/optimio_small.png" height="24" style="display:inline-block;padding-right:30px" /></a>
        </div>
        <div class="col-sm-5" style="text-align:right">
            <p>&copy; 2021 by Roger Zander - RuckZuck Server @ViewBag.appVersion</p>
        </div>

    </div>

    <environment include="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        @*<script src="~/js/site.min.js" asp-append-version="true"></script>*@
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
