@if (User.Identity.IsAuthenticated)
{
    <text>
        <ul class="navbar-nav ms-auto">
            <li class="navbar-text nav-item">
                Hello, @User.Identity.Name!
            </li>
            <li class="nav-item">
                @Html.ActionLink("Sign out", "SignOut", "Account")
            </li>
        </ul>
    </text>
}
else
{
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">@Html.ActionLink("Sign in", "SignIn", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
