<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RuckZuck_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RuckZuck_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
      <RuckZuck_Tool.Properties.Settings>
        <setting name="UpgradeSettings" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="DisableBroadcast" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="CustomerID" serializeAs="String">
          <value />
        </setting>
        <setting name="ShowAbout" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="UpdExlusion" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
          </value>
        </setting>
      </RuckZuck_Tool.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <RuckZuck_Tool.Properties.Settings>
            <setting name="SponsorUrl" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>https://cdn.ruckzuck.tools/images/baseVISION_small.png</string>
                        <string>https://cdn.ruckzuck.tools/images/itnetx_Logo_small.png</string>
                        <string>https://cdn.ruckzuck.tools/images/ROMAWO_Header_oo_small24.png</string>
                        <string>https://cdn.ruckzuck.tools/images/optimio_small.png</string>
                    </ArrayOfString>
                </value>
            </setting>
        </RuckZuck_Tool.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
