<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RZ.Bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <RZ.Bot.Properties.Settings>
            <setting name="SASToken" serializeAs="String">
                <value>sv=2019-02-02&amp;st=2021-05-25T17%3A23%3A26Z&amp;se=2025-05-26T17%3A23%3A00Z&amp;sp=raup&amp;sig=%2BNZ9FwxEcuNJCHcLchs%2FxMvbf%2BxrzfcOTp3Vb1bimtI%3D</value>
            </setting>
        </RZ.Bot.Properties.Settings>
    </applicationSettings>
</configuration>
