<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RZ.Bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <RZ.Bot.Properties.Settings>
            <setting name="SASToken" serializeAs="String">
                <value>ttttt</value>
            </setting>
            <setting name="WhiteListApps" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>adobe acrobat reader dc (64-bit)</string>
                        <string>adobereader dc</string>
                        <string>adobereader dc mui</string>
                        <string>companyportal</string>
                    </ArrayOfString>
                </value>
            </setting>
        </RZ.Bot.Properties.Settings>
    </applicationSettings>
</configuration>
