<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RZ.Bot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <applicationSettings>
        <RZ.Bot.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Endpoint=sb://ruckzuck.servicebus.windows.net/;SharedAccessKeyName=RZBot;SharedAccessKey=juTGyw3RWxptimG3c4mumxQ6fTpmGinSJVvh1bE3mh8=</value>
            </setting>
            <setting name="TopicName" serializeAs="String">
                <value>ruckzuck</value>
            </setting>
            <setting name="Filtername" serializeAs="String">
                <value>Failure2</value>
            </setting>
            <setting name="SQLFilter" serializeAs="String">
                <value>sys.Label like 'RuckZuck/WCF/Feedback/failure/%'</value>
            </setting>
        </RZ.Bot.Properties.Settings>
    </applicationSettings>
</configuration>
