@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Homepage: <a>https://github.com/rzander/ruckzuck</a><br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:roger@zander.ch">roger@zander.ch</a><br />
</address>
