@{
    ViewData["Title"] = "Sponsors";
}
<h2>@ViewData["Title"]</h2>

<p>RuckZuck is a free community service without commercial interrests. </p>
<p>Our Gold-Sponsors covers the infrastructure costs, to guarantee a stable and powerful service.</p>
<p>Sponsors are not responsible for the content in the package repository.</p>
<br />

<h3>Gold-Sponsors:</h3>
<div class="row">
    <div class="col-lg-6" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <div style="height:150px">
            <a href="https://www.basevision.ch" target="_blank"><img src="~/images/baseVISION_500x116.png" /></a>
        </div>
        <p>We make your IT workplace ready for the future – modern, flexible and secure.</p>
        <p>We are able to combine expert knowledge with practical experience due to our focused company strategy. You can rely on our expertise as consultants, integrators and coaches on your way to modern IT workplaces and the simple and secure operation of your end devices.  Our young company is proud that we already won two times the Microsoft Partner of the Year Award for our innovative and successful projects.</p>
        <br />
        <br />
    </div>
    <div class="col-lg-6" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <div style="height:150px">
            <a href="https://www.itnetx.ch" target="_blank"><img src="~/images/logo_green_white_500x143.png" height="116px" /></a>
        </div>
        <p>itnetX (Switzerland) AG plans, designs and implements secure and reliable IT solutions for individual companies and large customers. </p>
        <p>We support our customers in all questions concerning information and data processing – from Modern Workplace to Service Management. </p>
        <br />
    </div>
</div>
<div class="row">
    <div class="col-lg-6" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <div style="height:150px">
            <a href="https://www.romawo.com" target="_blank"><img src="~/images/ROMAWO_Header_green_116.png" height="116px" /></a>
        </div>
        <p>ROMAWO managed workplace is a service to inventory, update (OS and 3rd party Software), configure, monitor and deploy Operating Systems. </p>
        <p>It's a cloud only service and the requirements are Windows10 as client OS and an internet connection...</p>
        <br />
    </div>
    <div class="col-lg-6" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <div style="height:150px">
            <a href="https://www.optimio.com" target="_blank"><img src="~/images/optimio_large.png" height="116px" /></a>
        </div>
        <p>We are an IT and managed services provider (MSP) startup. We advise our customers holistically in all IT matters and strategically advance their IT infrastructure. We pursue a cloud first strategy, understand the on-premise world and know how to combine the two approaches. Our focus is on providing full-service support for small and medium-sized enterprises which often work in hybrid client environments. </p>
        <p>optimio - quickens your IT</p>
        <br />
    </div>
</div>