@{
    ViewData["Title"] = "Sponsors";
}
<h2>@ViewData["Title"]</h2>

<p>RuckZuck is a free community service without commercial interrests. </p>
<p>Our Gold-Sponsors covers the infrastructure costs, to guarantee a stable and powerful service.</p>
<p>Sponsors are not responsible for the content in the package repository.</p>
<br />

<h3>Gold-Sponsors:</h3>
<div class="row">
    <div class="col-lg-6" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <div style="height:150px">
            <a href="https://www.basevision.ch" target="_blank"><img src="~/images/baseVISION_500x116.png" /></a>
        </div>
        <p>We make your IT workplace ready for the future – modern, flexible and secure.</p>
        <p>We are able to combine expert knowledge with practical experience due to our focused company strategy. You can rely on our expertise as consultants, integrators and coaches on your way to modern IT workplaces and the simple and secure operation of your end devices.  Our young company is proud that we already won two times the Microsoft Partner of the Year Award for our innovative and successful projects.</p>
        <br />
        <br />
    </div>
    <div class="col-lg-6" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        <div style="height:150px">
            <a href="https://www.itnetx.ch" target="_blank"><img src="~/images/logo_green_white_500x143.png" height="116px" /></a>
        </div>
        <p>itnetX (Switzerland) AG plans, designs and implements secure and reliable IT solutions for individual companies and large customers. </p>
        <p>We support our customers in all questions concerning information and data processing – from Modern Workplace to Service Management. </p>
        <br />
    </div>
</div>