@{
    ViewData["Title"] = "Support";
}
<h2>@ViewData["Title"]</h2>

<address>
    Issues: <a href="https://github.com/rzander/ruckzuck/issues" target="_blank">https://github.com/rzander/ruckzuck/issues</a><br />
    Wiki: <a href="https://github.com/rzander/ruckzuck/wiki" target="_blank">https://github.com/rzander/ruckzuck/wiki</a><br />
    Latest Release: <a href="https://github.com/rzander/ruckzuck/releases/latest" target="_blank">https://github.com/rzander/ruckzuck/releases/latest</a><br />
    All Releases: <a href="https://github.com/rzander/ruckzuck/releases" target="_blank">https://github.com/rzander/ruckzuck/releases</a><br />
</address>

<h2>Blogs:</h2>
<address>
    <a href="https://rzander.azurewebsites.net/ruckzuck-figures-for-2018/" target="_blank">RuckZuck Figures for 2018</a><br />
    <a href="https://rzander.azurewebsites.net/ruckzuck-figures-for-2017/" target="_blank">RuckZuck Figures for 2017</a><br />
    <a href="https://rzander.azurewebsites.net/ruckzuck-figures-for-2016/" target="_blank">RuckZuck Figures for 2016</a><br />
    <a href="https://rzander.azurewebsites.net/ruckzuck-cache/" target="_blank"> RuckZuck Cache</a><br />
    <a href="https://github.com/rzander/ruckzuck/wiki/How-to-create-a-Package-for-the-Repository" target="_blank">How to create a Package</a><br />
    <a href="https://rzander.azurewebsites.net/ruckzuck-for-configmgr-new-v1-5-18/" target="_blank">RuckZuck for ConfigMgr</a><br />
    <a href="https://github.com/rzander/ruckzuck/wiki/RuckZuck-OneGet-Provider" target="_blank">RuckZuck Provider for OneGet</a><br />
</address>

@*<address>
        <strong>Support:</strong> <a href="mailto:roger@zander.ch">roger@zander.ch</a><br />
    </address>*@
