<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RZ.LogConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <applicationSettings>
        <RZ.LogConsole.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Endpoint=sb://ruckzuck.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=LtCxU2rKG6D9j/LQaqQWwkE2wU2hbV1y5RNzw8qcFlA=</value>
            </setting>
            <setting name="TopicName" serializeAs="String">
                <value>ruckzuck</value>
            </setting>
            <setting name="Filtername" serializeAs="String">
                <value>{0}</value>
            </setting>
            <setting name="SQLFilter" serializeAs="String">
                <value>1 = 1</value>
            </setting>
        </RZ.LogConsole.Properties.Settings>
    </applicationSettings>
</configuration>
